/* .container{
    margin-left: 10px;
}
.tripoption{
    margin-top: 25px;
    margin-bottom: 25px;
}
.cityInput{
    margin-bottom: 25px;
}
.journeyDate{
    margin-bottom: 25px;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flightsearch{
    margin-left: 20px;
    /* width: 100%;
    height: 100%; */
}
.label{
    font-family: 'Times New Roman', Times, serif;
    color: dodgerblue;
}