.footer{
    /* background-image: url("https://media.istockphoto.com/id/1164049513/photo/airplane-taking-off-from-the-airport.jpg?s=612x612&w=0&k=20&c=nJm8C9OReeKktbMavXhP8O71cZ8AZx8RKiE-hK8TrWE=");
    background-repeat: no-repeat; */
    width: 100vw;
    height: 100vh;
    display: flex;
    object-fit: contain;
}